// COLORS
$color-neutral-1: hsl(0, 0%, 98%);
$color-neutral-2: hsl(0, 0%, 41%);
$color-neutral-3: hsl(0, 0%, 8%);

// DISPLAY FLEX
@mixin displayFlex($positionX, $positionY) {
	display: flex;
	justify-content: $positionX;
	align-items: $positionY;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-family: "Epilogue", sans-serif;
	font-size: 62.5%;
}

body {
	max-width: 192rem;
	margin: 0 auto;
	font-size: 1.8rem;
	background-color: $color-neutral-1;
}

main {
	margin: 4.8rem;
	@include displayFlex(center, center);
	gap: 9.6rem;
}

// NAVIGATION
header {
	position: relative;
	padding: 3.2rem;
	@include displayFlex(space-between, center);
}

.logo {
	margin-right: 6.4rem;
}

// for mobile menu purposes
.mobile-menu {
	width: 100%;
	@include displayFlex(space-between, center);
	gap: 4.8rem;
}

.wrapper-links,
.wrapper-account {
	@include displayFlex(center, center);
	gap: 4.8rem;
}

.dropdown .link {
	@include displayFlex(center, center);
	gap: 1.2rem;
}

.dropdown-icon {
	transition: all 0.2s ease;
}

.dropdown-icon--active {
	transform: rotate(181deg);
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	width: max-content;
	left: 0;
	top: 3.2rem;
	background-color: #fff;
	padding: 2.4rem;
	border-radius: 1.2rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	opacity: 0;
	pointer-events: none;

	transform: translateY(-1.2rem);
	transition: all 0.2s ease;

	@include displayFlex(center, start);
	flex-direction: column;
	gap: 2.4rem;
}

.dropdown-menu.active {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.btn-menu {
	position: absolute;
	border-radius: none;
	border: none;
	background-color: transparent;
	right: 3.2rem;
	top: 3.2rem;
	display: none;
}

.hidden {
	display: none;
}

// TYPOGRAPHY
.header-1 {
	font-size: 7.2rem;
}

.link {
	&:link,
	&:visited {
		text-decoration: none;
		color: $color-neutral-2;
		transition: all 0.2s ease;
	}

	&:hover,
	&:active {
		color: $color-neutral-3;
	}

	&--rounded {
		padding: 1.2rem 2.4rem;
		border-radius: 1.4rem;
		border: 1px solid $color-neutral-2;

		&:hover {
			color: $color-neutral-3;
			border: 1px solid currentColor;
		}
	}
}

// CALL TO ACTION
.cta-text {
	max-width: 48rem;
	@include displayFlex(center, center);
	flex-direction: column;
	gap: 4.8rem;
}

.link--cta {
	color: $color-neutral-1;
	background-color: $color-neutral-3;
	color: $color-neutral-1 !important;
	border-radius: 1.6rem;
	padding: 2rem 3.2rem;
	font-weight: 700;
	border: 1px solid $color-neutral-3;
	transition: all 0.2s ease;
	align-self: flex-start;

	&:hover {
		background-color: $color-neutral-1;
		color: $color-neutral-3 !important;
	}
}

.cta-desc {
	color: $color-neutral-2;
	line-height: 1.4;
}

.wrapper-testimonials {
	width: 100%;
	@include displayFlex(space-between, center);
	gap: 2.4rem;
}

.cta-img {
	flex-basis: content;

	img {
		display: block;
		width: 100%;
		max-width: 55rem;
	}
}

// BELOW 1050 PX
@media only screen and (max-width: 65.625em) {
	main {
		flex-direction: column-reverse;
	}

	.cta-text {
		text-align: center;
	}

	// TYPOGRAPHY
	.header-1 {
		font-size: 5.2rem;
	}

	.link--cta {
		align-self: center;
	}

	.btn-menu {
		display: block;
	}

	.mobile-menu--active {
		position: absolute;
		background-color: #fff;
		padding-top: 9.6rem;
		padding-left: 4.8rem;
		width: 30rem;
		height: 100vh;
		top: 0;
		right: 0;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.mobile-menu--hidden {
		display: none;
	}

	.wrapper-links {
		flex-direction: column;
		align-items: flex-start !important;
	}

	.wrapper-account {
		width: 100%;
		flex-direction: column;
		align-self: center;
		margin-right: 4.8rem;

		.link--rounded {
			display: block;
			text-align: center;
			width: 100% !important;
		}
	}

	.dropdown-menu {
		z-index: 20;
		padding: 3.2rem;
		gap: 3.2rem;
	}
}

// BELOW 600 PX
@media only screen and (max-width: 37.5em) {
	html {
		font-size: 50%;
	}

	.wrapper-testimonials {
		flex-wrap: wrap;
		justify-content: center;
	}
}

// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
